@font-face {
	font-family: 'Riccione';
	src: url('../fonts/Riccione-Light.eot');
	src: url('../fonts/Riccione-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Riccione-Light.woff') format('woff'),
		url('../fonts/Riccione-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGroteskDisp_Pro';
	src: url('../fonts/NHaasGroteskDSPro-55Rg.eot');
	src: url('../fonts/NHaasGroteskDSPro-55Rg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NHaasGroteskDSPro-55Rg.woff') format('woff'),
		url('../fonts/NHaasGroteskDSPro-55Rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Eurostile_LT_Pro_Ext_Two';
	src: url('../fonts/EurostileLTPro-BoldEx2.eot');
	src: url('../fonts/EurostileLTPro-BoldEx2.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EurostileLTPro-BoldEx2.woff') format('woff'),
		url('../fonts/EurostileLTPro-BoldEx2.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Anno';
	src: url('../fonts/Anno.eot');
	src: url('../fonts/Anno.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Anno.woff') format('woff'),
		url('../fonts/Anno.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RiccioneTALK';
	src: url('../fonts/RiccioneTALK-ExtraLight.eot');
	src: url('../fonts/RiccioneTALK-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RiccioneTALK-ExtraLight.woff') format('woff'),
		url('../fonts/RiccioneTALK-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
