%globalText {
	
	font-family:Helvetica, Arial, sans-serif;
	@include font-size($body-font-sizes); 
	@include line-height($body-line-height); 
	color:$c-white;
	//letter-spacing: -.005em !important;
}



body {
	@extend %globalText;
	-webkit-font-smoothing:antialiased

	//text-shadow: 0px 0px 2px rgba(0, 0, 3, 0.6);
	
	
}

b, strong {
	font-family:'Unica-Medium'; 
	font-weight:normal !important;
	//text-transform:uppercase;
	//font-size:8%;
	//line-height:0;
	//margin-top:-.2em;
	letter-spacing: .02em !important;
}

h1, h2, h3, h4, h5, h6, select, label, textarea,  time, button {
	@extend %globalText;
	letter-spacing: .002em !important;
	word-spacing:initial;
	
}

p, li, input {
	@include font-size($p-font-sizes); 
	@include line-height($p-line-height); 
}

h1, h2, h3, h4, h5, h6 {
	@include font-size($h1-font-sizes); 
	@include line-height($h1-line-height);
}

h1, h2, h3, h4, h5, h6, a, nav, button {
	
	//text-transform:uppercase;
}

p {
	text-align:left;
	
}

span, time, a {
	word-spacing:initial;
}

a {
	text-decoration:none;
	color:$c-white; 
	
	
	&:hover {
		//color:$c-orange;
	}
} 

a.svg-link {
	svg:first-child {
		
	}
	
	svg:nth-child(2) {
		display:none;
	}
	
	&:hover {
		svg:nth-child(1) {
			display:none;
		}
	
		svg:nth-child(2) {
			display:inline-block;
		}
	}
	
	.svg-link-text {
		display:block;
	}
}

button {
	background:none;
	border:none;
}

.disable-link {
	pointer-events:none;
}

a, a:active, a:focus, input:focus {
	outline: none !important;
}

::-moz-selection { /* Code for Firefox */
    color: $c-black;
    background: $c-white;
}

::selection {
    color: $c-black;
    background: $c-white
}

br.mobile {
	display:none;
	
	@include respond-to(mobile-portrait) {
		display:block;
	}
}

address {
	font-style:normal; 
}

h1, h2, h3, h4, h5, h6, p, input, select {
	font-weight:normal;	
	//color:$c-black;
}

h1 {
	font-family:'Anno';
	-webkit-text-stroke: 1px $c-white;
	color:transparent;
	letter-spacing:0 !important;
}

h2 {
	font-family:'Anno';
	@include font-size($anno-h2-font-sizes); 
	@include line-height($anno-h2-line-height); 
	font-variant-ligatures: normal;
	letter-spacing:0 !important;
}

h3 {
	font-family:'Eurostile_LT_Pro_Ext_Two';
	text-transform:uppercase;
	letter-spacing:.08em !important;
	@include font-size($eurostile-smaller-body-font-sizes); 
	@include line-height($eurostile-body-line-height); 
	
	span {
		font-size: 1.04vw;
		
		@include respond-to(mobile-portrait) {
			font-size: 2.25vw;
		}
	}
}

h4 {
	font-family:'Eurostile_LT_Pro_Ext_Two';
	text-transform:uppercase;
	@include font-size($eurostile-body-font-sizes); 
	@include line-height($eurostile-body-line-height); 
}

h5 {
	font-family:'Anno';
	@include font-size($anno-body-font-sizes); 
	@include line-height($anno-body-line-height); 
	letter-spacing:0 !important;
}


p {
	font-family:'Anno';
	@include font-size($anno-body-font-sizes); 
	@include line-height($anno-body-line-height); 
	//letter-spacing:0 !important;
}

.amp {
	font-family:'Riccione';
	font-size:.9em;
}

%small {
	font-family:'NeueHaasGroteskDisp_Pro';
	font-size: 1vw;
	text-transform:uppercase;
	letter-spacing: .05em;
	
	&:hover {
		border-color:transparent;
	}
	
	@include respond-to(mobile-portrait) {
		font-size: 2.45vw;
	}
	
	
}

%outline-h2 { 
	@extend h2;
    -webkit-text-stroke: .015em #fff;
    color: transparent;
	
	@include respond-to(mobile-portrait) {
		-webkit-text-stroke: .025em #fff;
	}
}

%filetype-smaller {
	font-family:'Eurostile_LT_Pro_Ext_Two';
	text-transform:uppercase;
	font-size: 1.04vw;
	text-transform:uppercase;
	letter-spacing: .05em;
	color:$c-white;
	 -webkit-text-stroke: 0;
	 position:relative;
     top: -.4em;
     margin-left: .5em;
	@include respond-to(mobile-portrait) {
		font-size: 2.25vw;
	}
}

%filetype {
	font-family:'Eurostile_LT_Pro_Ext_Two';
	text-transform:uppercase;
	font-size: 1.04vw;
	text-transform:uppercase;
	letter-spacing: .05em;
	color:$c-white;
	 -webkit-text-stroke: 0;
	 position:relative;
	 top: -1.4em;
	 margin-left:.2em;
	@include respond-to(mobile-portrait) {
		font-size: 2.25vw;
	}
}




.url-icon {
	font-family:'NeueHaasGroteskDisp_Pro';
    border-bottom: 1px solid #fff;
    padding-bottom: .1em;
    font-size: 1vw;
    //margin-top: -.1em;
    position: relative;
    margin-left: .4em;
    top: -.85em;
	margin-right:1em;
	
	&:hover {
		border-color:transparent;
	}
	
	@include respond-to(mobile-portrait) {
	    font-size: 2.45vw;
	    margin-left: .5em;
	    top: -.46em; 
	}
}

.landscape-format {
	h2 {
		font-size:9vh;
	}
	
	h3 {
		font-size:2vh;
		
		span {
			font-size: 1.5vh;
		}
	}
	
	h4 {
		font-size:2vh;
	}
	
	h5 {
		font-size:6vh;
	}
	
	p {
		font-size:6vh;
	}
	
	%small {
		font-size: 1.7vh;
	}
	
	.url-icon {
		font-size:1.7vh;
		margin-top: -.1em;
	}
	
	%filetype {
		font-size: 2vh;
	}
	
	%filetype-smaller {
		font-size:1.5vh;
	}
	
	@include respond-to(mobile-landscape) {
		%small, .url-icon  {
			font-size: 2.25vh;
		}
		
		.url-icon {
			margin-top:0em;
			top:-.5em;
		}
	}
}

/* FORM STYLING */

input {
	font-family:'NeueHaasGroteskDisp_Pro' !important;
	color:$c-white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
   color: $c-white;
}

input:-moz-placeholder {
   color: $c-black;
}

input::-moz-placeholder {
   color: $c-black;
}

input:-ms-input-placeholder {
   color: $c-black;
}


input {
	background:transparent;
	border:1px solid $c-white;
	//@include transition(.2s background);
	//@include transition(.2s border);
}

input:focus, input:hover, input.over {
	background:$c-background;
	border-color:$c-background;
}

hr {
	border:none;
	border-top:1px solid $c-orange;
}


.hide-mobile-portrait {
	
	display:inline-block;
	
	@include respond-to(mobile-portrait) {
		display:none;
	}
}

.mobile-portrait-hide {
	@include respond-to(mobile-portrait) {
		display:none;
	}
}

.no-wrap {
	white-space: nowrap;
}


