//global
$g-size:13px;
$g-laptop-size:11px;
$g-phone-size:12px;
$g-mobileonly-size:4vw;
$g-font:'Unica-Medium';
//$g-unit:1.4285;
$g-unit:20px;

//breakpoints
$break-desktop:1441px;
$break-laptop:1440px;
$break-ipad:767px;
$break-phone:767px;

//animation
$nav-transition-duration:1s;
$transition-duration:.4s;
$zoom-transition-duration:1.2s;
$transition-timing-function: ease-out;
$animation-speed: 0.2s;

//gutters+margins
$padding:20px;

$g-lr-margin:2vw;
$g-tb-margin:3vh;

$g-padding-v:10%;
$g-padding-h:10%;

$g-h-padding:5vw;
$g-v-padding:4vh;

//colors
$c-white:#ffffff;
$c-black:#000000; 
$c-background:#000126;
$c-gray:rgb(40, 40, 40);
$c-blue:rgb(42, 40, 120);
$c-dark-gray:#282924;
$c-orange:rgb(255, 80, 0);
$c-overlay-blue:#092647;
$c-deactivated-text:#919191;
$c-global:$c-dark-gray;

//font sizes
$f-global-size:2vw;
$f-line-height:2.2857vw;

$f-body-global-size:2.8vw;
$f-body-line-height:3vw;

$f-a-global-size:2.36vw;

$f-global-size-sm:1.675vw;

$f-tablet-size:1em;
$f-mobileonly-size:3em;


$f-name-mobileonly-size:7em;


$a-font-sizes: (
  null  : $f-a-global-size,
  $break-ipad : $f-a-global-size,
  $break-laptop : $f-a-global-size,
  $break-desktop: $f-a-global-size
);

$p-font-sizes: (
  null  : 20px,
  $break-ipad : 20px,
  $break-laptop : 20px,
  $break-desktop: 28px
);

$p-line-height: (
  null  : 25px,
  $break-ipad : 25px,
  $break-laptop : 25px,
  $break-desktop: 36px
);

/*
$body-font-sizes: (
  null  : 3.4285vw,
  $break-ipad : 1.4285vw,
  $break-laptop : 1.4285vw,
  $break-desktop: 1.4285vw
);

$body-line-height: (
  null  : 3.5714vw,
  $break-ipad : 1.5714vw,
  $break-laptop : 1.4285vw,
  $break-desktop: 1.4285vw
);
*/

$body-font-sizes: (
  null  : 16px,
  $break-ipad : 28px,
  $break-laptop : 28px,
  $break-desktop: 28px
);

$body-line-height: (
  null  : 18px,
  $break-ipad : 26px,
  $break-laptop : 26px,
  $break-desktop: 35px
);


$h1-font-sizes: (
  null  : 28px,
  $break-ipad : 28px,
  $break-laptop : 28px,
  $break-desktop: 40px
);

$h1-line-height: (
  null  : 31px,
  $break-ipad : 31px,
  $break-laptop : 31px,
  $break-desktop: 45px
);



$anno-body-font-sizes: (
  null  : 6vw,
  $break-ipad : 3.71vw,
  $break-laptop : 3.71vw,
  $break-desktop: 3.71vw
);

$anno-body-line-height: (
  null  : 1.15,
  $break-ipad : 1.15,
  $break-laptop : 1.15,
  $break-desktop: 1.15
);

$anno-h2-font-sizes: (
	null  : 8vw,
	$break-ipad : 5.85vw,
	$break-laptop : 5.85vw,
	$break-desktop: 5.85vw
);

$anno-h2-line-height: (
	null  : 1.15,
	$break-ipad : 1.15,
	$break-laptop : 1.15,
	$break-desktop: 1.15
);

$eurostile-body-font-sizes: (
  null  : 3.5vw,
  $break-ipad : 1.4vw,
  $break-laptop : 1.4vw,
  $break-desktop: 1.4vw
);

$eurostile-body-line-height: (
  null  : 1.15,
  $break-ipad : 1.15,
  $break-laptop : 1.15,
  $break-desktop: 1.15
);


$eurostile-smaller-body-font-sizes: (
  null  : 3vw,
  $break-ipad : 1.4vw,
  $break-laptop : 1.4vw,
  $break-desktop: 1.4vw
);






@mixin line-height($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      line-height: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        line-height: $fs-font-size;
      }
    }
  }
}

//breakpoints
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}